<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="/">
                    <img src="assets/bg/logo.png" class="logo-footer" alt="Image Alternative text" title="Image Title" />
                </a>
                <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Newsletter</h4>
                <form>
                    <label>Enter your E-mail Address</label>
                    <input type="text" class="form-control">
                    <p class="mt5"><small>*We Never Send Spam</small>
                    </p>
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </form>
            </div>
            <div class="col-md-3">
                <ul class="list list-footer auto" style="font-size:18px;">
                    <li class="footer-menu"><a href="#/aboutus">About US</a>
                    </li>
                    <li class="footer-menu"><a href="#/contactus">Contact US</a>
                    </li>
                    <li class="footer-menu"><a href="#/news">Travel News</a>
                    </li>
                    <li class="footer-menu"><a href="#/privacy">Privacy Policy</a>
                    </li>
                    <li class="footer-menu"><a href="#/terms">Terms of Use</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Have Questions?</h4>
                <h4 class="text-color">+91-9875778995</h4>
                <h4><a href="#" class="text-color">xyz@gmail.com</a></h4>
            </div>
        </div>
    </div>
</footer>