<header id="main-header" class="col-lg-12">
    <div class="header-top futura-long">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            <li><a href="#"><i class="fa fa-envelope input-icon input-icon-highlight"></i> - dhimtrii@gmail.com</a>
                            </li>
                            <li><a href="#"><i class="fa fa-phone input-icon input-icon-highlight"></i> - 9657847647</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5 sign-in">
                    <div class="top-user-area clearfix">
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                             <a class="dropdown-toggle" data-toggle="dropdown" ng-show="isAdminUser()" ng-click="signOut()">Sign out</a>
                          </li>
                          <li class="dropdown">
                             <a class="dropdown-toggle" data-toggle="dropdown" ng-hide="isAdminUser()">Sign in <b class="caret"></b></a>
                             <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                   <div class="row">
                                      <div class="col-md-12">
                                         <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                               <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                               <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" ng-model="user.email" required>
                                            </div>
                                            <div class="form-group">
                                               <label class="sr-only" for="exampleInputPassword2">Password</label>
                                               <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="user.password" required>
                                            </div>
                                         </form>
                                      </div>
                                   </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                   <button type="submit" ng-click="login(user)" class="btn btn-success btn-block">Sign in</button>
                                   
                                </li>
                             </ul>
                          </li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container futura-long">
        <div class="row">
        <div class="col-xs-12 col-sm-3">
            <a title="Trendy Travel WordPress Theme" href="http://wedesignthemes.com/themes/trendy-travel">
                <img title="Trendy Travel WordPress Theme" alt="Trendy Travel WordPress Theme" src="assets/bg/logo.png" class="normal_logo" style="width:250px;">
                <!--<img style="width:234px; height:88px;" title="Trendy Travel WordPress Theme" alt="Trendy Travel WordPress Theme" src="http://wac.BEE4.edgecastcdn.net/80BEE4/cdn-designthemes/themes/trendy-travel/wp-content/themes/trendytravel/images/logo@2x.png" class="retina_logo">-->
            </a>
        </div>
        <div class="col-xs-12 col-sm-9">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand visible-xs" href="#">MENU</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav custom-nav">
                    <li ng-class="{ active: isActive('/') }"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
                    <li ng-class="{ active: isActive('/tours') }"><a href="#/tours">Tours</a></li>
                    <li ng-class="{ active: isActive('/aboutus') }"><a href="#/aboutus">About</a></li>
                    <li ng-class="{ active: isActive('/testimonials') }"><a href="#/testimonials">Testimonials</a></li>
                    <li ng-class="{ active: isActive('/contactus') }"><a href="#/contactus">Contact</a></li>
                    <li ng-class="{ active: isActive('/admin') }" ng-show="isAdminUser()"><a href="#/admin">Admin</a></li>
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <!--<div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    <li class="active">
                        <a href="index.html">Home</a>                            
                    </li>
                    <li>
                        <a href="feature-typography.html">About Us</a>
                    </li>
                    <li>
                        <a href="hotels.html">Tours</a>
                    </li>
                    <li>
                        <a href="flights.html">Contact Us</a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</header>