<div class="app-aside hidden-xs bg-black">
            <div class="aside-wrap">
                <div class="navi-wrap">

                    <!-- nav -->
                    <nav class="navi clearfix">
                        <ul class="nav">
                            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"><span>Navigation</span></li>
                            
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-stats icon text-primary-dker"></i> <span class="font-bold">Dashboard</span></a>
                            </li>

                            <li>
                                <a href="#/app/calendar"><i class="glyphicon glyphicon-calendar icon text-info-dker"></i><span class="font-bold">Calendar</span></a>
                            </li>
                            
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-list icon text-success"></i><b class="badge bg-danger pull-right">3</b><span class="font-bold">Todo</span></a>
                            </li>

                            <li class="line dk"></li>
                            
                            <li>
                                <a href="#"><i class="icon-question icon"></i> <span>Help</span></a>
                            </li>
                        </ul>
                    </nav>
                    <!-- / nav -->
                    
                </div>
            </div>
        </div>