<!-- TOP AREA -->
<div class="top-bg-area show-onload">
    <div class="bg-holder full imageBG">
        
    </div>
</div>
<!-- END TOP AREA  -->

<div class="container">
    <div class="gap gap-medium"></div>
    <h2 class="section-title ">About Us
    </h2>
    <div class="gap gap-medium"></div>
    <p>We are here to serve our customers in best possible way with right intent and customer friendly services. We at Traveloutsav believe in delivering best value for money services keeping in mind what is most suited to your needs.</p>
    <div class="gap gap-small"></div>
    <p>Traveloutsav not only promises to make your holidays a captivating event but also vows to bring the charm of celebration to each moment of your traveling. Our value defining services customized as per your requirements will make your entire journey a jubilation of festivity and merriment. We also can help you in planning and organizing your most remarkable events such as wedding, anniversaries and more making them indelible recollections with our expert advice and attention.
    </p>
    <div class="gap gap-small"></div>
    <p>You can make a selection among multiple available options of tour style ranging from Family Holidays to Honeymoon and Casual vacations to Business Travel. Other than these, under each such category, we offer different activities with every possible combination such as Spiritual, Heritage, Wildlife, Ayurveda etc.
    </p>
    <div class="gap gap-small"></div>
    <p>Based out of New Delhi, India; Traveloutsav promises to take care of flights to hotel bookings and from transportation to locales to your every meal letting you enjoy your holidays or to concentrate on your business deals without being concerned about anything else.         Our highly rated customer care executives are available at your service 24x7 and you can rely on them to administer every possible aid in your assistance.   
    </p>
    <div class="gap gap-medium"></div>
    <p>We are a young but highly motivated and goal driven organization who associates with premiers all around the globe to achieve the single motive of complete customer satisfaction.          We are determined to make your engagement with us a memorable event providing  you with all the comforts and delights you are expecting.
    </p>
    <div class="gap gap-medium"></div>
</div>