<!-- TOP AREA -->
<div class="top-bg-area show-onload">
    <div class="bg-holder full imageBG">
        
    </div>
</div>
<!-- END TOP AREA  -->

<div class="container">
    <div class="gap gap-medium"></div>
    <h2 class="section-title ">Contact Us
    </h2>
    <div class="gap gap-medium"></div>
    <div class="row">
        <div class="col-sm-5">
            <div class="fl contactInfo-div">
                <div class="row">
                    <div class="col-md-9">
                        <p style="font-size:18px;"><b>Registered Office:</b><br/>
                            3, 196/j, 2nd Floor, East of Kailash, New Delhi - 110065 .
                        </p>
                    </div>
                </div>
                <div class="gap gap-medium"></div>
                <dl class="contact-address dl-horizontal">
                    <dt>
                        <span class="fl jicons-icons">
                            <img alt="Email: " src="images/email.png" title="" style="width:30px;">		
                        </span>
                    </dt>
                    <dd>
                        <span class="contact-telephone">info@traveloutsav.com</span>
                    </dd>
                    <div class="gap gap-small"></div>
                    <dt>
                        <span class="fl jicons-icons">
                            <img alt="Phone: " src="images/phone.png" title="" style="width:30px;">		
                        </span>
                    </dt>
                    <dd>
                        <span class="contact-telephone">+91-11-41046912</span>
                    </dd>
                    <div class="gap gap-small"></div>
                    <dt>
                        <span class="fl jicons-icons">
                            <img alt="Phone: " src="images/phone.png" title="" style="width:30px;">		
                        </span>
                    </dt>
                    <dd>
                        <span class="contact-telephone">M: +91-9650627208</span>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-md-7">
                <div class="form-group">
                    <label for="exampleInputPassword1">Full Name:</label>
                    <input type="text" placeholder="Full Name" ng-model="contact.fullName" class="form-control">
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email Address:</label>
                        <input type="text" placeholder="Email Address" ng-model="contact.email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone Number:</label>
                        <input type="text" placeholder="Email Address" ng-model="contact.phone" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Subject:</label>
                        <input type="text" placeholder="Subject" ng-model="contact.subject" class="form-control">
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Message:</label>
                        <textarea class="form-control" rows="3" ng-model="contact.message" id="comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="gap gap-medium"></div>
            <div class="clearfix">
                <button class="btn btn-primary btn-lg" type="submit" style="float:right;" ng-click="contactUs(contact)">Submit</button>
            </div>
            <div class="gap gap-medium"></div>
        </div>
    </div>
</div>