<div><div class="top-bg-area show-onload">
    <div class="bg-holder full imageBG">
        
    </div>
</div>

<div class="container" ng-controller="SpecialTourCtrl">
    <div class="gap gap-medium"></div>
    <h2 class="section-title ">Day tours
        <div style="float:right">  
            <input ng-model="query" type="text" class="search-filter ft15 futura-long" placeholder="Filter by" autofocus>
        </div>
    </h2>
    <tour-list></tour-list>
    
</div>
            
            

</div>