<li class="tl-list" ng-repeat="testimonial in testimonials">
    <div class="row">
        <div class="col-md-11">
            <div class="pic dt-sc-testimonial col-md-1">
                <div class="author"><img class="auto" alt="Alexander Doe" src="{{testimonial.image_path}}"></div>
            </div>
            <div class="text testimonial-text col-md-8">
                <p>"{{testimonial.testimonial}}"</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1" style="border-bottom:1px solid #ccc;">
        </div>
    </div>
</li>